MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=changeme
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=changeme

MONGO_DB_NAME=jobsearch
MONGO_URI=mongodb://admin:changeme@localhost:27017/?authSource=admin
